.App {
  text-align: center;
}


button {
  background-color: #586d99;
 
  margin:10px;
  padding: 10px 15px;

  
  font-size: calc(10px + 2vmin);
  color: white;
  outline: none;
  border: none;

}


.buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.poz{
  color: green;
}

.neg{
  color: red;
}